In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

In [ ]:
#IMPORTAR ARCHIVOS PARA CRUZAR LAS TABLAS
reporte_bonificacion_combinado = r"C:\Users\bgacitua\Desktop\Automatización\Reportes bono asistencia\2025-07-31_08_50_05-reporte_combinado_detallado.csv"
reporte_turnos_bruto = r"C:\Users\bgacitua\Desktop\Automatización\Reportes bono asistencia\2025-07-31 08_31_10-819987625-reporte_turnos_bruto_combinado.xlsx"

df_principal = pd.read_csv(reporte_bonificacion_combinado)
df_auxiliar = pd.read_excel(reporte_turnos_bruto, sheet_name='Reporte')

display(df_principal.head())
display(df_auxiliar.head())

,nombre,rut,unidad,detPuesto,idCentroCosto,centroCosto,idPuesto,puesto,tipoContrato,idturno,...,Bonoquincenal,Bonovacacion,Horaextra50,Horaextra100,Bonocolacion,Bonomovilizacion,Turnosnoche,Turnosnochesupervisor,Turnosinspeccioncontratista,Horastrabajadas
0,Marie Raymonde Etienne,25624878-6,Administación y Lavandería,Asistente,6105,Lavandería Producción,214,Asistente De Servicios Generales,NaN,625421,...,0,0,"0,00","0,00",0,0,1,1,1,"8,67"
1,Marie Raymonde Etienne,25624878-6,Administación y Lavandería,Asistente,6105,Lavandería Producción,214,Asistente De Servicios Generales,NaN,625422,...,0,0,"0,00","0,00",0,0,1,1,1,"8,67"
2,Marie Raymonde Etienne,25624878-6,Administación y Lavandería,Asistente,6105,Lavandería Producción,214,Asistente De Servicios Generales,NaN,625423,...,0,0,"0,00","0,00",0,0,1,1,1,"8,67"
3,Marie Raymonde Etienne,25624878-6,Administación y Lavandería,Asistente,6105,Lavandería Producción,214,Asistente De Servicios Generales,NaN,625424,...,0,0,"0,00","0,00",0,0,1,1,1,"9,17"
4,Marie Raymonde Etienne,25624878-6,Administación y Lavandería,Asistente,6105,Lavandería Producción,214,Asistente De Servicios Generales,NaN,631388,...,0,0,"0,00","0,00",0,0,1,1,1,"8,67"

,idturno,nombreTipoAusencia,nombreUnidad,Centrocosto_turno,nombreSector,nombreDetPuesto,nombreTipoRotativa,nombreTipoTurno,nombreDetTurno,fecha,...,apellidoPaternoCubre,apellidoMaternoCubre,rutAusente,nombreAusente,apellidoPaternoAusente,apellidoMaternoAusente,adminCreador,adminModificador,fechaCreacion,fechaModificacion
0,478786,,Administación y Lavandería,Administración,HSolar,Secretaria,Lu@ju 07:50@17 + Vi 07:50@15:30,T 7:50@17,normal,2025-07-14,...,,,,,,,,,,
1,478787,,Administación y Lavandería,Administración,HSolar,Secretaria,Lu@ju 07:50@17 + Vi 07:50@15:30,T 7:50@17,normal,2025-07-15,...,,,,,,,,,,
2,478789,Vacación Progresiva,Administación y Lavandería,Administración,HSolar,Secretaria,Lu@ju 07:50@17 + Vi 07:50@15:30,T 7:50@17,normal,2025-07-17,...,,,,,,,,,,
3,478790,Vacación Progresiva,Administación y Lavandería,Administración,HSolar,Secretaria,Lu@ju 07:50@17 + Vi 07:50@15:30,D 7:50@15:30,normal,2025-07-18,...,,,,,,,,,,
4,478791,,Administación y Lavandería,Administración,HSolar,Secretaria,Lu@ju 07:50@17 + Vi 07:50@15:30,T 7:50@17,normal,2025-07-21,...,,,,,,,,,,

In [6]:
#Filtrar turnos para el bono asistencia
puestos_df = sorted(df_principal['puesto'].dropna().unique())
#display(pd.DataFrame(puestos_df, columns=['Puesto']))

puestos_filtrados = ['Analista de Control De Calidad', 'Analista De Microbiología', 'Asistente De Laboratorio', 'Coordinadora Muestras', 'Inspector De Proceso', 'Administrativo Bodega Despacho', 'Ayudante De Bodega', 'Asistente De Bodega', 'Chofer Administrativo Transporte', 'Chofer', 'Coordinador de Planta', 'Encargado De Bodega Inflamables', 'Encargado De Bodega Materias Primas', 'Operario', 'Operario Almacenamiento y Gestión de Residuos', 'Peoneta']

df_filtrado = df_principal[df_principal['puesto'].isin(puestos_filtrados)]
print("Dataframe de puestos filtrados:")
display(df_filtrado)

Dataframe de puestos filtrados:

,nombre,rut,unidad,detPuesto,idCentroCosto,centroCosto,idPuesto,puesto,tipoContrato,idturno,...,Bonoquincenal,Bonovacacion,Horaextra50,Horaextra100,Bonocolacion,Bonomovilizacion,Turnosnoche,Turnosnochesupervisor,Turnosinspeccioncontratista,Horastrabajadas
485,Eyver Orankis Roa Vargas,26169643-6,Administración Gral De Producción,Operario,6001,Administración Gral De Producción,185,Operario,Contratado,516237,...,0,0,"0,00","0,00",0,0,1,1,1,"9,17"
486,Eyver Orankis Roa Vargas,26169643-6,Administración Gral De Producción,Operario,6001,Administración Gral De Producción,185,Operario,Contratado,516238,...,0,0,"0,00","0,00",0,0,1,1,1,"9,17"
487,Eyver Orankis Roa Vargas,26169643-6,Administración Gral De Producción,Operario,6001,Administración Gral De Producción,185,Operario,Contratado,516240,...,0,0,"0,00","0,00",0,0,1,1,1,"9,17"
488,Eyver Orankis Roa Vargas,26169643-6,Administración Gral De Producción,Operario,6001,Administración Gral De Producción,185,Operario,Contratado,516241,...,0,0,"0,00","0,00",0,0,0,0,0,"0,00"
489,Eyver Orankis Roa Vargas,26169643-6,Administración Gral De Producción,Operario,6001,Administración Gral De Producción,185,Operario,Contratado,516242,...,0,0,"0,00","0,00",0,0,1,1,1,"9,17"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9289,Paz Belén Fuentes Melo,21289225-4,Sabores Bebidas y Dulces,Asistente,2002,Desarrollo Sabores Dulces,192,Asistente De Laboratorio,NaN,624118,...,0,0,"0,00","0,00",0,0,0,0,0,"0,00"
9290,Paz Belén Fuentes Melo,21289225-4,Sabores Bebidas y Dulces,Asistente,2002,Desarrollo Sabores Dulces,192,Asistente De Laboratorio,NaN,624119,...,0,0,"0,00","0,00",0,0,0,0,0,"0,00"
9291,Paz Belén Fuentes Melo,21289225-4,Sabores Bebidas y Dulces,Asistente,2002,Desarrollo Sabores Dulces,192,Asistente De Laboratorio,NaN,624120,...,0,0,"0,00","0,00",0,0,0,0,0,"0,00"
9292,Paz Belén Fuentes Melo,21289225-4,Sabores Bebidas y Dulces,Asistente,2002,Desarrollo Sabores Dulces,192,Asistente De Laboratorio,NaN,624121,...,0,0,"0,00","0,00",0,0,0,0,0,"0,00"
9293,Paz Belén Fuentes Melo,21289225-4,Sabores Bebidas y Dulces,Asistente,2002,Desarrollo Sabores Dulces,192,Asistente De Laboratorio,NaN,624122,...,0,0,"0,00","0,00",0,0,0,0,0,"0,00"

In [4]:
df_filtrado.columns

Index(['nombre', 'rut', 'unidad', 'detPuesto', 'idCentroCosto', 'centroCosto',
       'idPuesto', 'puesto', 'tipoContrato', 'idturno', 'fecha', 'tipo turno',
       'hora inicio', 'hora termino', 'marca entrada', 'marca salida',
       'detalle', 'ausencia', 'horaHorario', 'horaEfectiva', 'PA', 'Atraso',
       'Salida anticipada', 'HHEE Teoricas', 'HHEE Efectivas', 'Bonoquincenal',
       'Bonovacacion', 'Horaextra50', 'Horaextra100', 'Bonocolacion',
       'Bonomovilizacion', 'Turnosnoche', 'Turnosnochesupervisor',
       'Turnosinspeccioncontratista', 'Horastrabajadas'],
      dtype='object')

In [12]:
#SEPARAMOS LA COLUMNA 'marca entrada' EN DOS COLUMNAS: 'fecha_entrada' Y 'hora_entrada'

df_filtrado['marca_entrada_dt'] = pd.to_datetime(
    df_filtrado['marca entrada'],
    format='%Y-%m-%d %H:%M:%S', # <-- ¡Ajusta este formato según tus datos reales!
    errors='coerce'
)

# 2. Crear la columna 'fecha_entrada'
df_filtrado['fecha_entrada'] = df_filtrado.apply(
    lambda row: "Sin registro" if pd.isna(row['marca_entrada_dt']) else str(row['marca_entrada_dt'].date()),
    axis=1
)

# 3. Crear la columna 'marca_entrada_1' (hora)
#    Si 'marca_entrada_dt' es NaT, la nueva columna tendrá "Sin registro".
#    De lo contrario, extraerá la hora y la convertirá a string.
df_filtrado['marca_entrada_1'] = df_filtrado.apply(
    lambda row: "Sin registro" if pd.isna(row['marca_entrada_dt']) else str(row['marca_entrada_dt'].time()),
    axis=1
)

# Opcional: Eliminar la columna temporal 'marca_entrada_dt' si ya no la necesitas
df_filtrado = df_filtrado.drop(columns=['marca_entrada_dt'])

# --- FIN DEL CÓDIGO CORREGIDO ---

print(df_filtrado[['marca entrada', 'fecha_entrada', 'marca_entrada_1']].head())

           marca entrada fecha_entrada marca_entrada_1
485  2025-07-14 07:50:08    2025-07-14        07:50:08
486  2025-07-15 07:53:34    2025-07-15        07:53:34
487  2025-07-17 07:45:19    2025-07-17        07:45:19
488                --:--  Sin registro    Sin registro
489  2025-07-21 07:46:01    2025-07-21        07:46:01

In [13]:
df_filtrado.columns

Index(['nombre', 'rut', 'unidad', 'detPuesto', 'idCentroCosto', 'centroCosto',
       'idPuesto', 'puesto', 'tipoContrato', 'idturno', 'fecha', 'tipo turno',
       'hora inicio', 'hora termino', 'marca entrada', 'marca salida',
       'detalle', 'ausencia', 'horaHorario', 'horaEfectiva', 'PA', 'Atraso',
       'Salida anticipada', 'HHEE Teoricas', 'HHEE Efectivas', 'Bonoquincenal',
       'Bonovacacion', 'Horaextra50', 'Horaextra100', 'Bonocolacion',
       'Bonomovilizacion', 'Turnosnoche', 'Turnosnochesupervisor',
       'Turnosinspeccioncontratista', 'Horastrabajadas', 'fecha_salida',
       'marca_salida_1', 'fecha_entrada', 'marca_entrada_1'],
      dtype='object')

In [ ]:
    #SEPARAMOS LA COLUMNA 'marca salida' EN DOS COLUMNAS: 'fecha_salida' Y 'hora_salida_1'

df_filtrado['marca_salida_dt'] = pd.to_datetime(
    df_filtrado['marca salida'],
    format='%Y-%m-%d %H:%M:%S', # <-- ¡Ajusta este formato según tus datos reales!
    errors='coerce'
)

# 2. Crear la columna 'fecha_salida'
df_filtrado['fecha_salida'] = df_filtrado.apply(
    lambda row: "Sin registro" if pd.isna(row['marca_salida_dt']) else str(row['marca_salida_dt'].date()),
    axis=1
)

# 3. Crear la columna 'marca_salida_1' (hora)
#    Si 'marca_salida_dt' es NaT, la nueva columna tendrá "Sin registro".
#    De lo contrario, extraerá la hora y la convertirá a string.
df_filtrado['marca_salida_1'] = df_filtrado.apply(
    lambda row: "Sin registro" if pd.isna(row['marca_salida_dt']) else str(row['marca_salida_dt'].time()),
    axis=1
)

# Opcional: Eliminar la columna temporal 'marca_entrada_dt' si ya no la necesitas
df_filtrado = df_filtrado.drop(columns=['marca_salida_dt'])

# --- FIN DEL CÓDIGO CORREGIDO ---

print(df_filtrado[['marca salida', 'fecha_salida', 'marca_salida_1']].head())

            marca salida  fecha_salida marca_salida_1
485  2025-07-14 16:50:02    2025-07-14       16:50:02
486  2025-07-15 16:48:19    2025-07-15       16:48:19
487  2025-07-17 16:48:31    2025-07-17       16:48:31
488                --:--  Sin registro   Sin registro
489  2025-07-21 16:50:05    2025-07-21       16:50:05

In [14]:
df_filtrado.columns

Index(['nombre', 'rut', 'unidad', 'detPuesto', 'idCentroCosto', 'centroCosto',
       'idPuesto', 'puesto', 'tipoContrato', 'idturno', 'fecha', 'tipo turno',
       'hora inicio', 'hora termino', 'marca entrada', 'marca salida',
       'detalle', 'ausencia', 'horaHorario', 'horaEfectiva', 'PA', 'Atraso',
       'Salida anticipada', 'HHEE Teoricas', 'HHEE Efectivas', 'Bonoquincenal',
       'Bonovacacion', 'Horaextra50', 'Horaextra100', 'Bonocolacion',
       'Bonomovilizacion', 'Turnosnoche', 'Turnosnochesupervisor',
       'Turnosinspeccioncontratista', 'Horastrabajadas', 'fecha_salida',
       'marca_salida_1', 'fecha_entrada', 'marca_entrada_1'],
      dtype='object')

In [15]:
# Reordenar columnas para mostrar fecha_entrada y marca_entrada_1 después de "marca entrada",
# y fecha_salida y marca_salida_1 después de "marca salida"
columnas = list(df_filtrado.columns)
for col in ['fecha_entrada', 'marca_entrada_1']:
    columnas.remove(col)
for col in ['fecha_salida', 'marca_salida_1']:
    columnas.remove(col)

# Insertar después de "marca entrada"
idx_entrada = columnas.index('marca entrada') + 1
columnas[idx_entrada:idx_entrada] = ['fecha_entrada', 'marca_entrada_1']

# Insertar después de "marca salida"
idx_salida = columnas.index('marca salida') + 1
columnas[idx_salida:idx_salida] = ['fecha_salida', 'marca_salida_1']

df_filtrado = df_filtrado[columnas]
display(df_filtrado.head())

,nombre,rut,unidad,detPuesto,idCentroCosto,centroCosto,idPuesto,puesto,tipoContrato,idturno,...,Bonoquincenal,Bonovacacion,Horaextra50,Horaextra100,Bonocolacion,Bonomovilizacion,Turnosnoche,Turnosnochesupervisor,Turnosinspeccioncontratista,Horastrabajadas
485,Eyver Orankis Roa Vargas,26169643-6,Administración Gral De Producción,Operario,6001,Administración Gral De Producción,185,Operario,Contratado,516237,...,0,0,"0,00","0,00",0,0,1,1,1,"9,17"
486,Eyver Orankis Roa Vargas,26169643-6,Administración Gral De Producción,Operario,6001,Administración Gral De Producción,185,Operario,Contratado,516238,...,0,0,"0,00","0,00",0,0,1,1,1,"9,17"
487,Eyver Orankis Roa Vargas,26169643-6,Administración Gral De Producción,Operario,6001,Administración Gral De Producción,185,Operario,Contratado,516240,...,0,0,"0,00","0,00",0,0,1,1,1,"9,17"
488,Eyver Orankis Roa Vargas,26169643-6,Administración Gral De Producción,Operario,6001,Administración Gral De Producción,185,Operario,Contratado,516241,...,0,0,"0,00","0,00",0,0,0,0,0,"0,00"
489,Eyver Orankis Roa Vargas,26169643-6,Administración Gral De Producción,Operario,6001,Administración Gral De Producción,185,Operario,Contratado,516242,...,0,0,"0,00","0,00",0,0,1,1,1,"9,17"

In [ ]:
df_filtrado.columns

#DATAFRAME CON COLUMNAS SEPARADAS DE FECHA Y HORA REODENADAS. LISTO PARA CRUCE DE PLANILLAS.

Index(['nombre', 'rut', 'unidad', 'detPuesto', 'idCentroCosto', 'centroCosto',
       'idPuesto', 'puesto', 'tipoContrato', 'idturno', 'fecha', 'tipo turno',
       'hora inicio', 'hora termino', 'marca entrada', 'fecha_entrada',
       'marca_entrada_1', 'marca salida', 'fecha_salida', 'marca_salida_1',
       'detalle', 'ausencia', 'horaHorario', 'horaEfectiva', 'PA', 'Atraso',
       'Salida anticipada', 'HHEE Teoricas', 'HHEE Efectivas', 'Bonoquincenal',
       'Bonovacacion', 'Horaextra50', 'Horaextra100', 'Bonocolacion',
       'Bonomovilizacion', 'Turnosnoche', 'Turnosnochesupervisor',
       'Turnosinspeccioncontratista', 'Horastrabajadas'],
      dtype='object')

In [20]:
#Columnas de df_auxiliar 
df_auxiliar.columns

Index(['idturno', 'nombreTipoAusencia', 'nombreUnidad', 'Centrocosto_turno',
       'nombreSector', 'nombreDetPuesto', 'nombreTipoRotativa',
       'nombreTipoTurno', 'nombreDetTurno', 'fecha', 'turnoDia', 'observacion',
       'horaInicio', 'horaProgramadaInicio', 'HoraInicioMarcaReloj',
       'horaTermino', 'horaProgramadaTermino', 'HoraTerminoMarcaReloj', 'rut',
       'nombre', 'apellidoPaterno', 'apellidoMaterno',
       'Centrocosto_trabajador', 'PuestoIntegracion_trabajador',
       'nombreMotivoPago', 'rutCubre', 'nombreCubre', 'apellidoPaternoCubre',
       'apellidoMaternoCubre', 'rutAusente', 'nombreAusente',
       'apellidoPaternoAusente', 'apellidoMaternoAusente', 'adminCreador',
       'adminModificador', 'fechaCreacion', 'fechaModificacion'],
      dtype='object')

In [22]:
#SEPARAMOS LA COLUMNA 'marca entrada' EN DOS COLUMNAS: 'fecha_entrada' Y 'hora_entrada'

df_auxiliar['marca_entrada_dt'] = pd.to_datetime(
    df_auxiliar['HoraInicioMarcaReloj'],
    format='%Y-%m-%d %H:%M:%S', # <-- ¡Ajusta este formato según tus datos reales!
    errors='coerce'
)

# 2. Crear la columna 'fecha_entrada'
df_auxiliar['fecha_entrada'] = df_auxiliar.apply(
    lambda row: "Sin registro" if pd.isna(row['marca_entrada_dt']) else str(row['marca_entrada_dt'].date()),
    axis=1
)

# 3. Crear la columna 'marca_entrada_1' (hora)
#    Si 'marca_entrada_dt' es NaT, la nueva columna tendrá "Sin registro".
#    De lo contrario, extraerá la hora y la convertirá a string.
df_auxiliar['marca_entrada_1'] = df_auxiliar.apply(
    lambda row: "Sin registro" if pd.isna(row['marca_entrada_dt']) else str(row['marca_entrada_dt'].time()),
    axis=1
)

# Opcional: Eliminar la columna temporal 'marca_entrada_dt' si ya no la necesitas
df_auxiliar = df_auxiliar.drop(columns=['marca_entrada_dt'])

# --- FIN DEL CÓDIGO CORREGIDO ---

print(df_auxiliar[['HoraInicioMarcaReloj', 'fecha_entrada', 'marca_entrada_1']].head())

  HoraInicioMarcaReloj fecha_entrada marca_entrada_1
0  2025-07-14 07:50:00    2025-07-14        07:50:00
1  2025-07-15 06:54:32    2025-07-15        06:54:32
2                       Sin registro    Sin registro
3                       Sin registro    Sin registro
4  2025-07-21 06:52:34    2025-07-21        06:52:34

In [23]:
df_auxiliar.columns

Index(['idturno', 'nombreTipoAusencia', 'nombreUnidad', 'Centrocosto_turno',
       'nombreSector', 'nombreDetPuesto', 'nombreTipoRotativa',
       'nombreTipoTurno', 'nombreDetTurno', 'fecha', 'turnoDia', 'observacion',
       'horaInicio', 'horaProgramadaInicio', 'HoraInicioMarcaReloj',
       'horaTermino', 'horaProgramadaTermino', 'HoraTerminoMarcaReloj', 'rut',
       'nombre', 'apellidoPaterno', 'apellidoMaterno',
       'Centrocosto_trabajador', 'PuestoIntegracion_trabajador',
       'nombreMotivoPago', 'rutCubre', 'nombreCubre', 'apellidoPaternoCubre',
       'apellidoMaternoCubre', 'rutAusente', 'nombreAusente',
       'apellidoPaternoAusente', 'apellidoMaternoAusente', 'adminCreador',
       'adminModificador', 'fechaCreacion', 'fechaModificacion',
       'fecha_entrada', 'marca_entrada_1'],
      dtype='object')

In [ ]:
#SEPARAMOS LA COLUMNA 'marca salida' EN DOS COLUMNAS: 'fecha_salida' Y 'hora_salida'

df_auxiliar['marca_salida_dt'] = pd.to_datetime(
    df_auxiliar['HoraTerminoMarcaReloj'],
    format='%Y-%m-%d %H:%M:%S', # <-- ¡Ajusta este formato según tus datos reales!
    errors='coerce'
)

# 2. Crear la columna 'fecha_salida'
df_auxiliar['fecha_salida'] = df_auxiliar.apply(
    lambda row: "Sin registro" if pd.isna(row['marca_salida_dt']) else str(row['marca_salida_dt'].date()),
    axis=1
)

# 3. Crear la columna 'hora_salida_1' (hora)
#    Si 'marca_salida_dt' es NaT, la nueva columna tendrá "Sin registro".
#    De lo contrario, extraerá la hora y la convertirá a string.
df_auxiliar['marca_salida_1'] = df_auxiliar.apply(
    lambda row: "Sin registro" if pd.isna(row['marca_salida_dt']) else str(row['marca_salida_dt'].time()),
    axis=1
)

# Opcional: Eliminar la columna temporal 'marca_salida_dt' si ya no la necesitas
df_auxiliar = df_auxiliar.drop(columns=['marca_salida_dt'])

# --- FIN DEL CÓDIGO CORREGIDO ---

print(df_auxiliar[['HoraTerminoMarcaReloj', 'fecha_salida', 'marca_salida_1']].head())

  HoraTerminoMarcaReloj  fecha_salida marca_salida_1
0   2025-07-14 16:54:15    2025-07-14       16:54:15
1   2025-07-15 16:51:58    2025-07-15       16:51:58
2                        Sin registro   Sin registro
3                        Sin registro   Sin registro
4   2025-07-21 16:55:55    2025-07-21       16:55:55

In [26]:
# Reordenar columnas para mostrar fecha_entrada y marca_entrada_1 después de "marca entrada",
# y fecha_salida y marca_salida_1 después de "marca salida"
columnas = list(df_auxiliar.columns)
for col in ['fecha_entrada', 'marca_entrada_1']:
    columnas.remove(col)
for col in ['fecha_salida', 'marca_salida_1']:
    columnas.remove(col)

# Insertar después de "marca entrada"
idx_entrada = columnas.index('HoraInicioMarcaReloj') + 1
columnas[idx_entrada:idx_entrada] = ['fecha_entrada', 'marca_entrada_1']

# Insertar después de "marca salida"
idx_salida = columnas.index('HoraTerminoMarcaReloj') + 1
columnas[idx_salida:idx_salida] = ['fecha_salida', 'marca_salida_1']

df_auxiliar = df_auxiliar[columnas]
display(df_auxiliar.head())

,idturno,nombreTipoAusencia,nombreUnidad,Centrocosto_turno,nombreSector,nombreDetPuesto,nombreTipoRotativa,nombreTipoTurno,nombreDetTurno,fecha,...,apellidoPaternoCubre,apellidoMaternoCubre,rutAusente,nombreAusente,apellidoPaternoAusente,apellidoMaternoAusente,adminCreador,adminModificador,fechaCreacion,fechaModificacion
0,478786,,Administación y Lavandería,Administración,HSolar,Secretaria,Lu@ju 07:50@17 + Vi 07:50@15:30,T 7:50@17,normal,2025-07-14,...,,,,,,,,,,
1,478787,,Administación y Lavandería,Administración,HSolar,Secretaria,Lu@ju 07:50@17 + Vi 07:50@15:30,T 7:50@17,normal,2025-07-15,...,,,,,,,,,,
2,478789,Vacación Progresiva,Administación y Lavandería,Administración,HSolar,Secretaria,Lu@ju 07:50@17 + Vi 07:50@15:30,T 7:50@17,normal,2025-07-17,...,,,,,,,,,,
3,478790,Vacación Progresiva,Administación y Lavandería,Administración,HSolar,Secretaria,Lu@ju 07:50@17 + Vi 07:50@15:30,D 7:50@15:30,normal,2025-07-18,...,,,,,,,,,,
4,478791,,Administación y Lavandería,Administración,HSolar,Secretaria,Lu@ju 07:50@17 + Vi 07:50@15:30,T 7:50@17,normal,2025-07-21,...,,,,,,,,,,

In [1]:
df_auxiliar.columns

NameError: name 'df_auxiliar' is not defined

In [29]:
df_filtrado.columns

Index(['nombre', 'rut', 'unidad', 'detPuesto', 'idCentroCosto', 'centroCosto',
       'idPuesto', 'puesto', 'tipoContrato', 'idturno', 'fecha', 'tipo turno',
       'hora inicio', 'hora termino', 'marca entrada', 'fecha_entrada',
       'marca_entrada_1', 'marca salida', 'fecha_salida', 'marca_salida_1',
       'detalle', 'ausencia', 'horaHorario', 'horaEfectiva', 'PA', 'Atraso',
       'Salida anticipada', 'HHEE Teoricas', 'HHEE Efectivas', 'Bonoquincenal',
       'Bonovacacion', 'Horaextra50', 'Horaextra100', 'Bonocolacion',
       'Bonomovilizacion', 'Turnosnoche', 'Turnosnochesupervisor',
       'Turnosinspeccioncontratista', 'Horastrabajadas'],
      dtype='object')

In [39]:
df_filtrado['rut'] = df_filtrado['rut'].astype(str).str.replace('-', '', regex=False)
print(df_filtrado['rut'].head())

0    261696436
1    261696436
2    261696436
3    261696436
4    261696436
Name: rut, dtype: object

In [36]:
df_filtrado['rut'] = df_filtrado['rut'].astype(str).str.strip()
df_auxiliar['rut'] = df_auxiliar['rut'].astype(str).str.strip()
df_filtrado['fecha_entrada'] = df_filtrado['fecha_entrada'].astype(str).str.strip()
df_auxiliar['fecha_entrada'] = df_auxiliar['fecha_entrada'].astype(str).str.strip()

In [40]:
# Cruzar df_filtrado y df_auxiliar por rut y fecha_entrada
df_filtrado = df_filtrado.merge(
    df_auxiliar[['rut', 'fecha_entrada', 'nombreTipoAusencia']],
    on=['rut', 'fecha_entrada'],
    how='left'
)
display(df_filtrado.head())

,nombre,rut,unidad,detPuesto,idCentroCosto,centroCosto,idPuesto,puesto,tipoContrato,idturno,...,Horaextra50,Horaextra100,Bonocolacion,Bonomovilizacion,Turnosnoche,Turnosnochesupervisor,Turnosinspeccioncontratista,Horastrabajadas,nombreTipoAusencia_x,nombreTipoAusencia_y
0,Eyver Orankis Roa Vargas,261696436,Administración Gral De Producción,Operario,6001,Administración Gral De Producción,185,Operario,Contratado,516237,...,"0,00","0,00",0,0,1,1,1,"9,17",NaN,
1,Eyver Orankis Roa Vargas,261696436,Administración Gral De Producción,Operario,6001,Administración Gral De Producción,185,Operario,Contratado,516238,...,"0,00","0,00",0,0,1,1,1,"9,17",NaN,
2,Eyver Orankis Roa Vargas,261696436,Administración Gral De Producción,Operario,6001,Administración Gral De Producción,185,Operario,Contratado,516240,...,"0,00","0,00",0,0,1,1,1,"9,17",NaN,
3,Eyver Orankis Roa Vargas,261696436,Administración Gral De Producción,Operario,6001,Administración Gral De Producción,185,Operario,Contratado,516241,...,"0,00","0,00",0,0,0,0,0,"0,00",NaN,Vacación
4,Eyver Orankis Roa Vargas,261696436,Administración Gral De Producción,Operario,6001,Administración Gral De Producción,185,Operario,Contratado,516242,...,"0,00","0,00",0,0,1,1,1,"9,17",NaN,

In [43]:
df_filtrado_permisos = df_filtrado[['nombre', 'rut', 'fecha_entrada', 'marca_entrada_1', 'fecha_salida', 'marca_salida_1', 'nombreTipoAusencia_y']]
display(df_filtrado_permisos.head())

,nombre,rut,fecha_entrada,marca_entrada_1,fecha_salida,marca_salida_1,nombreTipoAusencia_y
0,Eyver Orankis Roa Vargas,261696436,2025-07-14,07:50:08,2025-07-14,16:50:02,
1,Eyver Orankis Roa Vargas,261696436,2025-07-15,07:53:34,2025-07-15,16:48:19,
2,Eyver Orankis Roa Vargas,261696436,2025-07-17,07:45:19,2025-07-17,16:48:31,
3,Eyver Orankis Roa Vargas,261696436,Sin registro,Sin registro,Sin registro,Sin registro,Vacación
4,Eyver Orankis Roa Vargas,261696436,2025-07-21,07:46:01,2025-07-21,16:50:05,